#header-title{
    text-align: center;
}

.properties-container{
    text-align: center;
    width: 50%;
    border: 15px solid green;
    padding: 50px;
    margin: auto;
    #properties-label{
    }
}