body {
  background: -webkit-gradient(linear, right top, left top, from(#000000), color-stop(#0083cf), color-stop(#003f88), to(#0084d1));
  background: linear-gradient(270deg, #000000, #0083cf, #003f88, #0084d1);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  color: white;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#header-title img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  /* The element to apply the animation to */
  -webkit-box-shadow: inset 0 0 50px #00b7ff;
  box-shadow: inset 0 0 50px #0069af;
  border-radius: 50px;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #51abff, 0em 2em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #51abff, 0em 2em 1em rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes example {
  from {
    background-color: black;
  }
  to {
    background-color: #008cff;
  }
}

@keyframes example {
  from {
    background-color: black;
  }
  to {
    background-color: #008cff;
  }
}

#fileheader {
  font-family: 'Titillium Web';
}

h2 {
  font-family: 'IBM Plex Sans';
}

h3 {
  font-family: 'Source Sans Pro';
}

#part-types-section label,
#special-properties-section label,
#armor-templates-section label {
  font-family: 'Poppins';
}

#part-types-section #quick-select-label,
#special-properties-section #quick-select-label,
#armor-templates-section #quick-select-label {
  font-family: 'Source Sans Pro';
}

#text-properties-section {
  font-family: 'Source Sans Pro';
}

.quick-select-container {
  border-style: solid;
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  width: 130px;
  border-color: #009ce4;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #009ce4, 0em 1em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #009ce4, 0em 1em 1em rgba(0, 0, 0, 0.3);
}

.properties-container {
  padding: 20px;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #009ce4, 0em 2em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #009ce4, 0em 2em 1em rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 174, 255, 0.3);
  text-align: center;
  min-width: 50%;
  max-width: 75%;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (minmax(265px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  border-color: #009ce4;
}

.grid-item {
  width: 260px;
}

input[type=text] {
  text-align: center;
  width: 230px;
  border-radius: 5px;
  border-color: #009ce4;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0), 0 0 0 2px rgba(255, 255, 255, 0.233), 0em 1em 1em rgba(0, 0, 0, 0.507);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0), 0 0 0 2px rgba(255, 255, 255, 0.233), 0em 1em 1em rgba(0, 0, 0, 0.507);
}

.single-element {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
}

/*Center placeholder text for all browsers*/
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

select {
  text-align: center;
  border-radius: 5px;
  border-color: #009ce4;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(255, 255, 255, 0.466), 0em 1em 1em rgba(0, 0, 0, 0.479);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(255, 255, 255, 0.466), 0em 1em 1em rgba(0, 0, 0, 0.479);
}

button {
  background-color: #0178c7;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: 'Titillium Web';
  border-color: #009ce4;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(255, 255, 255, 0), 0em 0.5em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(255, 255, 255, 0), 0em 0.5em 1em rgba(0, 0, 0, 0.3);
}

#btn-Generate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px 10px;
  font-size: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #009ce4;
  color: #fff;
  text-align: center;
  width: 120px;
  bottom: 95%;
  left: 50%;
  margin-left: -60px;
  border-radius: 5px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

footer {
  margin: 30px auto 20px auto;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
}

footer a {
  color: #009ce4;
}

.footer-icon {
  padding: 20px;
  width: 55px;
  height: 55px;
  text-align: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.footer-icon:hover {
  opacity: 70%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */